pkgbase = hibermachy-helper
	pkgdesc = Authenticated one-shot helper for Hibermachy requested system policy
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/spitefulFr0g/hibermachy
	install = hibermachy-helper.install
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = glibc
	depends = polkit
	source = hibermachy-helper-0.1.0.tar.gz::https://github.com/spitefulFr0g/hibermachy/releases/download/v0.1.0/hibermachy-helper-0.1.0.tar.gz
	source = hibermachy-helper-0.1.0.tar.gz.sig::https://github.com/spitefulFr0g/hibermachy/releases/download/v0.1.0/hibermachy-helper-0.1.0.tar.gz.sig
	validpgpkeys = 0B1C5414F8D18F8B6AA78957335FEBC82DB247EC
	sha512sums = 2c63aaf7ccb74ce349c3eade7e9586ad39c2ac09a3557a271bae66f266c91f5e13139591525f94c243c666076683e22b0a6d74eea5ddaa47f97ceb48b72d0dfb
	sha512sums = ce4c110c17d17d68ee58a176139432e95e2901f7922b2c2a1a27da3eabcd5e2336cc8139db5249b129a197d76e7e22e74d4ab2b52eb882cd1df4e5f33733e9e6

pkgname = hibermachy-helper
