pkgbase = hibermachy-helper
\tpkgdesc = Authenticated one-shot helper for Hibermachy requested system policy
\tpkgver = 0.1.0
\tpkgrel = 1
\turl = https://github.com/hibermachy/hibermachy
\tarch = x86_64
\tlicense = MIT
\tdepends = glibc
\tdepends = polkit
\tmakedepends = rust
\tinstall = hibermachy-helper.install
\tsource = hibermachy-helper-0.1.0.tar.gz::https://github.com/hibermachy/hibermachy/releases/download/v0.1.0/hibermachy-helper-0.1.0.tar.gz
\tsource = hibermachy-helper-0.1.0.tar.gz.sig::https://github.com/hibermachy/hibermachy/releases/download/v0.1.0/hibermachy-helper-0.1.0.tar.gz.sig
\tsha512sums = __RELEASE_SHA512__
\tsha512sums = __RELEASE_SIGNATURE_SHA512__
\tvalidpgpkeys = __RELEASE_SIGNING_KEY__

pkgname = hibermachy-helper
